footer {
  margin-top: 3rem;
  padding-top: 2rem;
}

.footer-cv {
  padding: 2rem 0;
  text-align: center;
  background-color: cadetblue;
}

.card-body {
  height: 27rem;
}

p img {
  position: absolute;
  bottom: 2%;
  transform: translate(-50%, 0);
}
